br
h1 Galeria

=image_tag("image1.png", style: 'width: 250px')
=image_tag("image2.png", style: 'width: 250px')
=image_tag("image3.png", style: 'width: 250px')
=image_tag("image4.png", style: 'width: 250px')
/=tag("img", src: "/assets/image2.png")
/=tag.img src: '/assets/image2.png'